[Unit]
Description=pi Gallery Photo Slideshow
After=graphical.target

[Service]
User=
Group=
Environment=DISPLAY=:0
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/<user>/piGallery/gallery.py
Restart=always

[Install]
WantedBy=graphical.target

